/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  background-image: var(--background-image);
  background-color: var(--color_bg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
  padding: 0 20px;
}

@media (width >=1024px) {
  .header__text {
    margin-block-start: 35px;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 10px;
  }
}

.header__rec {
  position: absolute;
  color: var(--color_rec);
  top: 32px;
  right: 48px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 5px;
  left: 40px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--corner-color);
  background-color: var(--color_rec);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 984px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  right: 22px;
  top: 27px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corner-color);
  border-top: 1px solid var(--corner-color);
}

@media (width >= 1024px) {
  .decorated-zone::before {
    top: 725px;
  }
}

@media (max-width: 560px) {
  .decorated-zone::before {
    top: 633px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 12px;
    right: 11px;
  }

  .header__rec {
    top: 13px;
    right: 39px;
  }
}

.header__theme-menu-list {
  display: flex;
  padding-block-start: 197px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 20px;
  }
}

@media (max-width: 560px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-block-start: 53px;
  }

  .header__theme-menu {
    padding-block-start: 10px;
  }
}

.header__theme-menu-button {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  width: 70px;
  min-height: 26px;
  color: var(--color_head-text);
  border: none;
  background: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--corner-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--corner-color);
}

.header__title {
  font-family: var(--main-font), sans-serif;
  color: var(--color_title);
  text-shadow: var(--title_shadow);
  font-size: var(--size_mobile);
  line-height: 82.5%;
  margin-left: -20px;
}

@media (max-width: 560px) {
  .header__title {
    margin-left: 0px;
    font-size: var(--size_mobile);
  }
}

@media (width >=1024px) {
  .header__title {
    font-size: var(--size_desktop);
  }
}

.header__text {
  font-family: var(--main-font);
  background-color: var(--color_head);
  color: var(--color_text);
  justify-self: end;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  width: 50%;
}

.header__section {
  display: grid;
  padding-block-start: 189px;
  gap: 152px;
}

@media (width >= 1024px) {
  .header__section {
    gap: 76px;
  }
}

@media (max-width: 560px) {
  .header__section {
    padding-block-start: 62px;
    padding-block-end: 40px;
    gap: 64px;
  }

  .header__text {
    width: 100%;
    max-inline-size: 355px;
    max-block-size: 117px;
  }
}

.section__article__link {
  text-decoration: none;
  text-shadow: 1px 2px 0 #ff0070;
}

.section__article__link:focus-visible {
  border: 1px solid;
}

.section__article__link:hover {
  border-bottom: 1px solid;
}

.section {
  display: grid;
  grid-template-columns: 34% 64%;
  padding-inline-end: 29px;
  gap: 20px;
  padding-block-start: 68px;
  padding-block-end: 80px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (width < 1024px) and (width >= 768px) {
  .quest__section {
    padding-block-start: 5px;
    padding-block-end: 80px;
  }
}

@media (width >= 1024px) {
  .section {
    display: grid;
    grid-template-columns: 33% 65%;
    gap: 20px;
    padding-block-start: 60px;
    padding-block-end: 80px;
  }

  .quest__section {
    padding-block-start: 23px;
    padding-block-end: 80px;
  }
}

@media (width >= 1024px) {
  .section__list {
    gap: 6px;
    padding-inline-end: 1px;
  }
}

.concentration {
  width: 236px;
}

.section__article__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-block-start: 20px;
  gap: 30px;
}

@media (max-width: 560px) {
  .section {
    display: flex;
    flex-direction: column;
    padding-inline-start: 10px;
    padding-inline-end: 18px;
    padding-block-start: 40px;
    padding-block-end: 49px;
  }

  .section__list {
    gap: 14px;
  }
  .quest__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-block-end: 35px;
    gap: 20px;
  }

  .concentration {
    padding-left: 10px;
    width: 80%;
  }

  .section__article__list {
    padding: 0 10px;
    gap: 29px;
  }
}

.info {
  display: grid;
  grid-template-columns: 33% 63%;
  padding-block-start: 14px;
  padding-block-end: 80px;
  gap: 20px;
}

.section__list__advice {
  display: grid;
  gap: 20px;
}

.section__list__item:not(:first-of-type) {
  padding-block-start: 11px;
}

@media (width>=1024px) {
  .section__article__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block-start: 20px;
  }

  .concentration {
    min-width: 315px;
  }

  .info {
    display: grid;
    grid-template-columns: 33% 63%;
    padding-block-start: 11px;
    padding-block-end: 80px;
    gap: 20px;
  }
}

@media (max-width: 560px) {
  .info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    padding-block-end: 50px;
    padding-block-start: 27px;
  }

  .ad {
    min-height: 47px;
  }
}

.section__title {
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color_head-text);
}

@media (width <= 1024px) and (width >= 768px) {
  .section__title {
    padding-left: 20px;
  }
}

.title__decor {
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--color_head);
  color: var(--color_text);
}

.section__text {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color_section);
}
.section__image {
  display: grid;
  gap: 20px;
  padding-block-start: 50px;
  margin: 0 20px;
  padding-block-end: 60px;
}

.section__image-list {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.section__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section__images:nth-of-type(1) {
  grid-column: 1/3;
}

.section__images:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.section__images:nth-of-type(3) {
  grid-row: 2/4;
}

.section__images:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.section__images:last-of-type {
  grid-column: 2/4;
}

@media (max-width: 560px) {
  .section__image {
    padding: 0 10px;
    margin: 0;
    padding-block-end: 40px;
  }
  .section__image-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }
}

@media (width >= 1024px) {
  .section__image {
    padding-block-start: 6px;
  }
  .secction__image-list {
    display: grid;
    gap: 20px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  text-align: center;
}

.footer__title {
  font-family: var(--main-font), sans-serif;
  color: var(--color_title);
  text-shadow: 2px 2px 0px var(--color_head);
  font-size: var(--size_desktop);
}

@media (width > 768px) {
  .footer__title {
    display: flex;
  }
}

@media (max-width: 560px) {
  .footer__title {
    font-size: var(--size_mobile);
  }
}
